.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
      visibility 900ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .backdrop.is-hidden .modal {
    transform: scale(0.5) rotate(160deg);
    transition: transform 900ms;
  }
  
  .modal {
    width: 528px;
    height: 581px;
    left: 536px;
    top: 221px;
    background: var(--modal-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 40px 40px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1500ms;
  }
  
  .modal__field {
    margin-bottom: 10px;
  }
 
  .modal__wrap {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--modal-icon-fill);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 30px;
  }
  
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 15px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus + .input-icon {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  .modal__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus {
      border-color: var(--accent-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: var(--modal-placeholder-text);
    }
  }
  
  .modal__label-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    margin-bottom: 4px;
    display: block;
  }
  
  .modal__button {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    min-width: 200px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    outline: none;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--modal-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  .check__item {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .check__text {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    align-items: center;
    justify-content: center;
  }
  
  .modal__terms-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 3px;
  }
  
  .check__icon {
    fill: var(--check-icon-color);
  }
  
  .modal__check{
    &:checked + .check__text .check__item {
      background-color: var(--accent-color);
      border: none;
    }    
    &:focus + .check__text .check__item {
    border-color: var(--accent-color);
    }
  }
  
  .modal__close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--accent-color);
    }
    &:focus {
      fill: var(--accent-color);
    }
  }
  
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  