.traits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .traits__list {
    display: flex;
    justify-content: space-between;
  }
  
  .traits__item {
    display: inline-block;
    width: 270px;
  }
  
  .traits__logo {
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-traits-logo);
    margin-bottom: 30px;
  }
  
  .traits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
  }
  
  .traits__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }