:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --main-text-color: #757575;
    --first-header-text-color: #212121;
    --second-header-text-color: #757575;
    --accent-color: #2196f3;
    --first-footer-text-color: #ffffff;
    --second-footer-color: rgba(255, 255, 255, 0.6);
    --first-logo-color: #2196f3;
    --second-logo-color: #000000;
    --third-logo-color: #ffffff;
    --main-button-color: #212121;
    --second-button-color: #ffffff;
    --background-color: #2f303a;
    --our-team-background: #f5f4fa;
    --main-background-color: #ffffff;
    --base-svg-color: #afb1b8;
    --header-line-color: #ececec;
    --background-traits-logo: #f5f4fa;
    --about-background-text:rgba(47, 48, 58, 0.8);
    --footer-icon-background:rgba(255, 255, 255, 0.1);
    --footer-email-placeholder:rgba(255, 255, 255, 0.6);
    --modal-background:#ffffff;
    --modal-icon-fill:#212121;
    --modal-placeholder-text:rgba(117, 117, 117, 0.5);
    --modal-button-color:#ffffff;
    --check-icon-color:#ffffff;
    --portfolio-item-text-background:rgba(33, 150, 243, 0.9);
    --main-text-font: Roboto;
    --logo-text-font: Raleway;
  }